.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 0 12px 2px;
    height: 29px;
    background: var(--main-bg-color);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.my-1{
    margin: 6px 0;
}
.my-2{
    margin: 15px 0;
}
.text-center{
    text-align: center;
}